<%- include("./layout/header") %>
<h1>Contact Us</h1>
<form action="/" method="POST">
    Name: <br/>
    <input type="text" name="Name" placeholder="Name" /><br/>
    Email: <br/>
    <input type="text" name="Email" placeholder="Email" /><br/>
    Subject: <br/>
    <input type="text" name="Subject" placeholder="Subject" /><br/>
    Description: <br/>
    <textarea name="Description" rows="5" cols="50" placeholder="Description"></textarea><br/>
    <button type="submit">Submit</button>
</form>
